@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Russo One", sans-serif;
  background-image: url("../images/back.png");
}

.skyMonks {
  // background-color: rgba(255, 255, 255);
  position: absolute;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.perks {
  width: 100vw;
  height: 100vh;
  display: block;
  text-align: center;
  // background-color: rgba(255, 0, 0, 0.526);

  h1 {
    .skyMonkspage-title {
      text-transform: uppercase;
      text-align: center;

      font-size: 200%;
      font-weight: 700;
      font-family: verdana;
      color: #f5f5f5;

      text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
        1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
        1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
        1px 10px 1px #919191, 1px 18px 6px rgb(142, 142, 142),
        1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgb(142, 142, 142);
    }
  }

  svg {
    color: rgb(29, 21, 21);
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
  }
}

.skyMonkspage-title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  font-size: 600%;
  font-weight: 700;
  font-family: verdana;
  color: #f5f5f5;

  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgb(142, 142, 142),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgb(142, 142, 142);
}

.sky-monks-title {
  display: flex;
  flex-direction: row;
  margin: 0 8vw 5vh;
}

.sky-monks-gif {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 20px rgb(107, 246, 246);
}

@media all and (min-width: 900px) {
  .datacard {
    // background-color: rgba(255, 0, 255, 0.526);
    margin: 50px 0;
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 1% 0;
    text-align: center;

    img {
      max-height: 150px;
    }
    .datacard-content {
      margin: 50px 25%;
      width: 50%;
      display: flex;
    }

    .datacard-content-text {
      margin: 0 5px;
    }
  }

  .section-title {
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 700;
    // font-family: verdana;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }

  .validator-chars {
    margin: 5vh 10vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .validator-card {
    width: 30vw;
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .validator-logo {
      width: 10vw;
      margin: auto;
    }
  }

  .chain-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .validator-token {
    width: 25vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 5vh;
    .validator-token-right {
      img {
        width: 7vw;
      }
      margin: auto;
    }
    .validator-token-left {
      margin: auto;
      h1 {
        font-size: 2vw;
      }
    }
    a {
      background: #aaa;
      border: none;
      text-decoration: none;
      border-radius: 8%;
      color: white;
      font-weight: 700;
      font-size: large;
      width: 10vw;
      padding: 5px;
      margin: 2vh auto 2vh;
    }
  }

  .star-wars {
    z-index: -1;
    display: flex;
    justify-content: center;
    position: relative;
    height: calc(100vh - 450px);
    color: #eaed23;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;

    overflow: hidden;

    text-shadow: 1px 1px 1px #777, 1px 2px 1px #777, 1px 3px 1px #777,
      1px 4px 1px #777, 1px 5px 1px #777, 1px 6px 1px #777, 1px 7px 1px #777,
      1px 8px 1px #777, 1px 9px 1px #777, 1px 10px 1px #777,
      1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
}

@media all and (max-width: 900px) {
  .datacard {
    background-color: rgba(255, 0, 255, 0.526);
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 2% 0;
    justify-content: center;
    text-align: center;

    img {
      margin: auto;
      height: 150px;
      width: 150px;
    }
    .datacard-content {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .datacard-content-text {
      margin: 0 5px;
    }
  }

  .sky-monks-title {
    display: flex;
    flex-direction: column;
    margin: 0 8vw 15vh;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    text-transform: uppercase;
    font-size: 14vw;
    font-weight: 700;
    font-family: verdana;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }

  .validator-chars {
    margin: 5vh 2vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .validator-card {
    width: 80vw;
    margin: 0 10vw 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .validator-logo {
      width: 30vw;
      margin: auto;
    }
  }

  .chain-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .validator-token {
    margin: 0 5vw 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 5vh;
    .validator-token-right {
      img {
        height: 25vh;
      }
      margin: auto;
    }
    .validator-token-left {
      margin: auto;
      h1 {
        font-size: 10vw;
      }
    }
    a {
      background: #aaa;
      border: none;
      text-decoration: none;
      border-radius: 8%;
      color: white;
      font-weight: 700;
      font-size: large;
      width: 40vw;
      padding: 5px;
      margin: 2vh auto 2vh;
    }
  }

  .star-wars {
    z-index: -1;
    display: flex;
    justify-content: center;
    position: relative;
    height: calc(100vh - 420px);
    color: #eaed23;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 1px;
    perspective: 400px;
    text-align: justify;
    overflow: hidden;

    text-shadow: 1px 1px 1px #777, 1px 2px 1px #777, 1px 3px 1px #777,
      1px 4px 1px #777,
      1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2);
  }
}

.validator {
  width: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .validator-title {
    width: 100vw;
    margin: auto;
  }
}

.validator-chains {
  margin: 5vh 10vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100vw;
  background: transparent;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 30vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars-dead {
  display: flex;
  justify-content: center;
  position: relative;
  height: 90vh;
  color: #eaed23;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: justify;

  text-shadow: 1px 1px 1px #777, 1px 1px 1px #777, 1px 3px 1px #777,
    1px 5px 1px #777, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 12px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 20px 60px rgba(16, 16, 16, 0.4);
}

.semicrawl {
  width: 80vw;
  overflow: auto;
  p {
    font-size: 5vw;
    margin: 5vh 0;
  }
}


.gallery{
  background-color: purple;
  width: 100vw;
  padding: 2vh 10vw;

  .hits-list{
    display: flex;
    flex-wrap: wrap;
    ul{
      list-style: none;
    }
  }


  .ais-Hits-list{
    display:flex;
    list-style: none;
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
  }
  .HitComponent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2vh 3vw;
    width: 14vw;

    background-color: black;
    border-radius: 5%;
    img{
      border-radius: 5%;
      width: 14vw;
    }
  }
}